<div id="head-con">
    <div id="head-icon">
        <i class="fa-brands fa-airbnb"></i>
        <div> Airban</div>
    </div>
    <div id="head-link">
        <a href="http://localhost:3000/list">Home</a>
             <a href="http://localhost:3000/list">All Resorts</a>
             <a href="http://localhost:3000/new">Add New</a>
    </div>
</div>